body {
      background: #ff9000;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      margin: 0;
}


h1, h2 {
      color: white;
      font-family: monospace;
      justify-content: flex-start;
      margin-top: 10vh;
}

#word-panel {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin-top: -10%;
      flex-grow: 1;
}

button {
      font-family: monospace;
      font-size: 60px;
      color: white;
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      font-weight: bold;
}
#left{
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: black;
      transition: width 0.5s ease;

    }
#right{
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      background-color: #ff9000;
      transition: width 0.5s ease;
}
#continue{
     position: fixed;
     bottom: 10px;
     left: 50%;
     transform: translateX(-50%);
}

#choosed{
     display: none;
     flex-direction: column;
     justify-content: center;
     color: white;
     font-family: monospace;
     font-size: 40px;
     font-weight: bold;
}
#select-container{
      position: fixed;
      bottom: 10px;
      right: 10px;
      display: flex;
      align-items: center;
}
#min-oc {
    margin: 5px;
}

